[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
click="*"
itsdangerous="*"
onetimepass="*"
six="*"
Flask="*"
Flask-Login="*"
Flask-SQLAlchemy="*"
Jinja2="*"
MarkupSafe="*"
PyQRCode="*"
SQLAlchemy="*"
Werkzeug="*"

[requires]
python_version = "3.7"
